COMPOSE_PROJECT_NAME=monolith-template

SITE_URL=http://localhost
STORAGE_ENDPOINT_PUBLIC=http://localhost

COOKIE_SECURE=false
COOKIE_SAMESITE=lax

DEMO_ADMIN_EMAIL=admin@demo.example.com
DEMO_ADMIN_PASSWORD=Admin12345!
DEMO_ADMIN_USERNAME=Demo Admin

NOTIFICATIONS_PROVIDER=noop
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
